<header ng-controller="dulichcoguuCrtl" class="shadow-sm">
    <div class="">
        <div class="row">
            <div class="d-flex justify-content-around align-items-center">
                <div class="p-2 bd-highlight ">
                    <a href="index.html"> <img src="img/logoMain.png" alt="">
                    </a>
                </div>
                <div class="p-2 bd-highlight">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link color-main" href="#!tours">
                                            Tours
                                        </a>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Phong cách GUU
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link color-main" aria-current="page" href="#!lichtrinhtour">Lịch
                                            Tour Nước
                                            Ngoài</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link color-main" href="#!gallery">Gallery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link color-main" href="#!blog">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link color-main" href="#!introduction">Giới Thiệu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link color-main" href="#!contact">Liên Hệ</a>
                                    </li>

                                    <!-- user login -->
                                    <li ng-show="currentUser" class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            {{currentUser.username}}
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#"></a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li ng-click="logout()"><a class="dropdown-item" href="#">Đăng xuất</a></li>
                                        </ul>
                                    </li>

                                    <li ng-show="!currentUser" class="nav-item">
                                        <a class="nav-link color-main" href="#!login">Đăng Nhập</a>
                                    </li>
                                    <li ng-show="!currentUser" class="nav-item">
                                        <a class="nav-link color-main" href="#!register">Đăng Ký</a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="p-2 bd-highlight align-items-center d-flex justify-content-center">
                    <div class="box">
                        <!-- Cart -->
                        <div class="d-flex justify-content-center">
                            <a class="px-3 text-decoration-none fw-bold fs-4 text-dark" href="#!cart">
                                <i class="bi bi-bag"></i>
                            </a>

                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#searchTours">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>

                        <div class="modal" id="searchTours">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <form class="d-flex input-group my-3" role="search">
                                            <input ng-model="searchKeyword" class="form-control" type="search"
                                                placeholder="Tìm kiếm hình ảnh ..." aria-label="Search">
                                            <span class="input-group-text bg-black"><i
                                                    class="bi bi-search text-white"></i></span>
                                        </form> <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body p-4">
                                        <div class="box-content mb-4">
                                            <h6 class="fw-bold">Best Seller :</h6>
                                            <ul>
                                                <li>Tour Ai Cập</li>
                                                <li>Tour Ladakh (Road Trip)</li>
                                            </ul>
                                        </div>
                                        <div class="box-content mb-4">
                                            <h6 class="fw-bold">Emagazine Travel :</h6>
                                            <ul>
                                                <li>Tour Ai Cập</li>
                                                <li>Tour Ladakh (Road Trip)</li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <div class="col-6"
                                                ng-repeat=" tour in filteredTours | filter:searchKeyword | limitTo:4  ">
                                                <img src="img/{{tour.image}}" alt="">
                                                <p class="fw-bold color-main">
                                                    {{tour.name}}
                                                </p>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


</header>